@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

/* Using Lemon as closest alternative to Lemon Milk Medium */
/* If you have the Lemon Milk font file, you can add it here with @font-face */
